/* utilities class */

* {
    margin: 0;
    padding: 0;
}

.background-color {
    background-color: #1c1f25 !important;
}

.background-color-gary {
    background-color: #f1f4f8;
}

.text-color,
a {
    color: #767679;
    border: 1px solid transparent !important;
}

a {
    border: 1px solid transparent !important;
}

a:hover {
    color: #a6a8aa;
    text-decoration: none;
    border: 1px solid transparent !important;
}

.nav-tabs .nav-link:focus {
    background-color: none !important;
}

.card {
    background-color: rgb(39, 42, 48, 0.6) !important;
    transition: all 0.3s ease-in-out;
    border: 1px solid transparent;
    overflow: hidden;
}

.first-p-font-size {
    font-size: 14px;
}

.p-font-size {
    font-size: 12px;
}


/* gradient for background og some sections */

.background-gradient {
    background: #94226e;
    background: -webkit-linear-gradient(to right, #29161f, #94226e);
    background: linear-gradient(to right, #94226e, #29161f);
}

.no-bold {
    font-weight: 350 !important;
}

.text-link {
    color: blue;
}

.text-link:hover {
    color: rgb(109, 109, 255);
    text-decoration: underline;
}

.img-position {
    position: relative;
    margin-left: 50px;
}

.img-position-left {
    position: relative;
    margin-left: -50px;
}

.bg-white {
    background-color: white !important;
}

.background-color-blue {
    background-color: rgba(31, 31, 214, 0.808);
    color: white;
}

.card .readthe{
    box-shadow: inset 0 0 #fff;
    transition: all 0.8s ease;
}

.card:hover .readthe {
    box-shadow: inset 740px 0 rgba(31, 31, 214, 0.808);
    color: white;
}

.vector1 {
    position: absolute;
    margin-left: 400px;
    margin-top: 60px;
    width: 80%;
    overflow: hidden;
    transition: all 0.8s ease;
}

.card:hover .vector1 ,.card:hover .vector2, .card:hover .vector3{
    margin-left: 450px;
}

.vector2 {
    position: absolute;
    margin-left: 400px;
    margin-top: 60px;
    width: 80%;
    overflow: hidden;
    transition: all 0.8s ease;
}

.vector3 {
    position: absolute;
    margin-left: 400px;
    margin-top: 60px;
    width: 80%;
    overflow: hidden;
    transition: all 0.8s ease;
}

.card-hover:hover {
    border: 1px solid #33ffcc;
    background-color: rgba(0, 0, 0, 0) !important;
    transform: translateY(-2px);
}

.viteconf {
    -webkit-text-fill-color: #0000;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(130deg, #54c8fa 30%, #be1cfa 70%);
}
